body{
   background-color: #F1FAEE;
}
main {
    min-height: 600px;
    text-align: center;
  
}
.page-enter-active,
.page-leave-active {
    transition: 0.5s cubic-bezier(1, 0.25, 0.25, 1);
}
.page-enter,
.page-leave-active {
    opacity: 0;
    transform: translate(0, 30px);
}

